/* Font declarations */

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../assets/fonts/playfairdisplay-bold-webfont.eot');
    src: url('../assets/fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../assets/fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../assets/fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../assets/fonts/playfairdisplay-italic-webfont.eot');
    src: url('../assets/fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'playfair_displayregular';
    src: url('../assets/fonts/playfairdisplay-regular-webfont.eot');
    src: url('../assets/fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaylight';
    src: url('../assets/fonts/raleway-light-webfont.eot');
    src: url('../assets/fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../assets/fonts/raleway-lightitalic-webfont.eot');
    src: url('../assets/fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'ralewaymedium';
    src: url('../assets/fonts/raleway-medium-webfont.eot');
    src: url('../assets/fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../assets/fonts/raleway-mediumitalic-webfont.eot');
    src: url('../assets/fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


/* Page Structure */


html {
	font-size: 14px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'ralewaylight', Arial, Serif;
	font-size: 1rem;
	color: #2d2d2d;
	line-height: 2rem;
}

.container {
	max-width: 100%;
	padding: 0% 2%;
	text-align: center;
}

/* Styles for mobile */


h2, h3 {
	font-family: 'playfairdisplay-regular-webfont', Arial, Serif;
}

h2 {
	margin-bottom: 1.5rem;
	font-size: 2.6rem;
	font-family:'playfair_displayitalic', Arial, Serif;
}

h3 {
	color: #e2574c;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

a {
	color: #e2574c;
	text-decoration: none;
}

a:hover {
	color: #b64036;
	cursor: pointer;
}

li {
	list-style-type: none;
}

img {
	width: 100%;
	height: auto;
	max-height: 100%;
	display: inline;
}

.hidden-header {
	width: 0px;
	height: 0px;
	margin: 0;
	visibility: hidden;
}

header {
	box-sizing: border-box;
	height: 116px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #d7d7d7;
    padding: 3% 0 0;
    box-shadow: 0px 0px 7px #d7d7d7;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-content {
	width: 100%;
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
	width: 48%;
	padding: 0 0 1% 2%;
	display: flex;
	justify-content: flex-start;
}

.cart-container {
	width: 48%;
	padding: 0 2% 1% 0;
	display: flex;
	justify-content: flex-end;
}

.nav-bar {
	width: 100%;
	padding: 0.8rem 0.5rem 0;
	border-top: 1px solid #d7d7d7;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
	width: 100%;
	font-family: 'ralewaymedium', Arial, Serif;
	color: #e2574c;
	font-size: 1.2rem;
	text-transform: uppercase;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-bottom: #d7d7d7;
}

.nav-list li {
	margin: 0 1rem;
}

.logo {
	height: 50px;
	width: 120px;
}

.cart {
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.bold-header {
	font-family: 'playfair_displaybold', Arial, Serif;
}

.hero-image-banner {
	width: 100%;
	height: 400px;
	margin-top: 116px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%),
		url("../assets/images/banner-girl.png") no-repeat center bottom -25px,
		url("../assets/images/flower-bkgd.jpg") repeat-x center top;
	background-size: cover, 150px, cover;
}

.collection {
	font-size: 1.25rem;
	font-family: 'ralewaymedium', Arial, Serif;
	text-transform: uppercase;
	position: relative;
	bottom: 12px;
}

.season {
	width: 80%;
	font-family: 'playfair_displayregular', Arial, Serif;
	max-width: 340px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: normal;
	text-shadow: 2px 2px 3.8px rgba(100, 100, 100, 0.85);
	text-align: center;
	position: relative;
	top: 7px;
}

.about-section {
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
	padding-top: 4.4rem;
	padding-bottom: 4.4rem;
	border-bottom: 1px solid #d7d7d7;
}

.about-section p {
	max-width: 440px;
	font-size: 1.15rem;
}

.products {
	height: 95vh;
	width: 100%;
}

.categories {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
}

.categories .category {
	height: 25%;
	box-sizing: border-box;
	font-family: 'ralewaymedium', Arial, Serif;
	font-size: 1.5rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.category:nth-child(1) {
	border-bottom: 0.7rem solid white;
}

.category:nth-child(2) {
	border-right: 0.7rem solid white;
	border-bottom: 0.7rem solid white;
}

.category:nth-child(3) {
	border-bottom: 0.7rem solid white;
}

.category:nth-child(4) {
	border-right: 0.7rem solid white;
}

.category:nth-child(6) {
	border-top: 0.7rem solid white;
}

.category.wide-category {
	flex: 2 0 100%
}

.category.narrow-category {
	flex: 1 0 50%;
}

.mens {
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%),
	    url("../assets/images/mens-category.jpg") no-repeat center center;
	flex: 2 1 100%;
}

.trends {
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%),
		url("../assets/images/trends-category.jpg") no-repeat center center;
	flex: 1 1 45%;
}

.glasses {
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%), 
	    url("../assets/images/glasses-category.jpg") no-repeat center center;
	flex: 1 1 45%;
}

.sale {
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%),
	    url("../assets/images/sale-category.jpg") no-repeat center center;
	flex: 1 1 45%;
}

.bags {
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%),
	    url("../assets/images/bags-category.jpg") no-repeat center center;
	flex: 1 1 45%;
}

.womens {
	background: linear-gradient(
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0.25) 100%), 
		url("../assets/images/womens-category.jpg") no-repeat center center;
	flex: 1 1 100%;
}

.shop-container {
	height: 75vh;
	text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.flickity-viewport {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.product-list {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-list-item {
	width: 100%;
	max-width: 360px;

}
.product-list-item img{
	max-width: 70%;
}

.product-list p {
	margin-bottom: 0.75rem;
	font-size: 0.8rem;
	color: #969696;
	text-transform: uppercase;
	font-family: 'ralewaymedium';
}

.product-name {
	font-size: 1.7rem;
	font-family: 'playfairdisplay-regular-webfont';
}

p.prices {
	margin: 0;
	font-size: 1rem;
}

.sign-up-background {
	height: 250px;
	padding: 4.15rem 0;
	color: white;
	background: linear-gradient(
			rgba(0, 0, 0, 0.17) 0%,
			rgba(0, 0, 0, 0.17) 100%),
			url("../assets/images/wave-bkgd.jpg") no-repeat center bottom;
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.sign-up-content {
	height: 100%;
	width: 90%;
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.sign-up-content h2 {
	text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
}

.sign-up-content p {
	width: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
    line-height: 2.5rem;
    position: relative;
    top: 18px;
}

.sign-up-form {
	position: relative;
    height: auto;
    width: 75%;
    max-width: 450px;
    margin: 3rem 8% 0 0;
}

input:focus {
	outline: none;
}

.email-input {
	height: 42px;
	width: 100%;
	padding: 0% 6%;
	border: none;
	border-radius: 50px;
	color: #969696;
	font-size: 1rem;
	font-family: 'ralewaylight';
}

input[type="submit"] {
    height: 85%;
    width: 35%;
    font-size: 1rem;
    color: white;
    background-color: #e2574c;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    position: absolute;
    bottom: 9%;
    left: 76%;
}

footer {
	padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top: 8px;
    background: #242424;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

footer a{
	color: white;
}

.footer-column {
	font-family: "playfair_displayregular", Arial, Serif;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	line-height: 1.6rem;
}

.copyright {
	max-width: 210px;
	margin: 0 auto 1rem;
	text-align: center;
	color: white;
}

.contact {
	max-width: 250px;
	text-align: center;
	margin: 0 auto 1rem;
	color: white;
}

.address {
	max-width: 180px;
	text-align: center;
	margin: 0 auto;
	color: #969696;
}

.social-bar {
	width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.social-bar {
	color: white;
	margin: 5% auto;
}

.social-bar li {
	width: 15px;
    margin: 0 1.1%;
    padding: 0;
}

.fa a {
	height: 0px;
	display: none;
	font-family: "ralewaymedium", Arial, Serif;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
}

.hover:hover {
	color: #b64036;
}

.lightborder {
	border-color: #d7d7d7;
}

.darkborder {
	border-color: #242424;
}

/* Media queries */

/* Tablet */

@media all and (min-width: 600px) {

	h2 {
		font-size: 3rem;
		margin-bottom: 3rem;
	}

	header {
		max-height: 88px;
		height: initial;
		padding: 0%;
	}

	.header-content {
		padding: 3% 2%;
	}

	.logo-container {
		width: 20%;
		padding: 0;
		order: 1;
	}

	.cart-container {
		width: 20%;
		padding: 0;
		order: 3;
	}

	.nav-bar {
		width: 55%;
		border-top: none;
		order: 2;
	}

	.logo {
		width: 145px;
	}

	.cart {
		width: 58px;
	}

	.hero-image-banner {
		margin-top: 87px;
	}

	.collection {
		font-size: 1.5rem;
		bottom: 23px;
	}

	.season {
		max-width: 100%;
    	font-size: 3.4rem;
    	top: 5px;
	}

	.about-section {
		height: 36%;
		padding-bottom: 3.6rem 0;
	}

	.about-section p {
		max-width: 600px;
    	font-size: 1.3rem;
    	line-height: 2.8rem;
	}

	.products {
		height: 52vw;
	}

	.categories {
		justify-content: space-between;
	}

	.categories .wide-category {
		flex: 2 0 50%;
		max-width: 49.6%;
		border-top: 0;
		border-bottom: 0;
	}

	.categories .narrow-category {
		flex: 1 0 25%;
		max-width: 24.4%;
		border-bottom: 0;
	}

	.categories .category {
		border: 0;
		height: 49%;
	}

	.shop {
		padding-top: 5rem;
	}


	.product-list-item {
		width: 50%;
		/*display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;*/
	}

	.product-list p {
		font-size: 1rem;
	}

	.product-name {
		font-size: 2rem;
	    /*max-width: 245px;*/
	    margin: 0 auto 1rem;
	}

	.product-list li:nth-child(3) h3 {
		max-width: 220px;
	    line-height: 2rem;
	}

	.product-list li:nth-child(4) h3 {
	    max-width: 220px;
	    line-height: 2rem;
	}

	p.prices {
		font-size: 1.25rem;
	}

	.product-list h2 {
		margin-bottom: 1.5rem;
	}

	.sign-up-background {
		background-position: center bottom;
	}

	.sign-up-background h2 {
		margin: 0;
		position: relative;
	}

	.sign-up-background p {
		max-width: 760px;
		margin: 0 auto;
		padding-bottom: 3rem;
		font-size: 1.5rem;
		position: relative;
		top: 12%;
	}

	.sign-up-form {
		width: 70%;
		position: relative;
		top: 30px;
	}

	.email-input {
		height: 52px;
	}

	input [type="submit"] {
		font-size: 1.2rem;
		left: 76.7%;
	}

	footer {
		height: 40%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0% 2% 0% 2%;
		font-size: 1.15rem;
	}


	.footer-column {
		height: auto;
	    margin: 8% 0% 7%;
	    line-height: 2rem;
	    display: flex;
	    flex-flow: column nowrap;
	    justify-content: space-between;
	    align-items: flex-start;
	}

	.copyright {
		margin: 0 0 1rem;
	}

	.address {
		margin: 0 0 1rem;
	}

	.contact {
		max-width: 300px;
	}

	.copyright p {
		text-align: left;
	}

	.contact p {
		text-align: left;
	}

	.address p {
		text-align: left;
	}

	.social-bar {
		width: 20%;
		margin: 8% 2% 8%;
		flex-flow: column nowrap;
		text-align: right;
	}

	.social-bar li {
		width: 100%;
		height: 27px;
		margin: 0 auto;
		text-align: left;
	}

	.fa a {
		display: inline;
		margin-left: 12%;
		text-decoration: none;
		font-size: 1.2rem;
	}
}

/* Desktop */

@media all and (min-width: 1240px) {

	header {
		padding: 1.2% 8%;
	}

	.logo {
		width: 160px;
	}

	.cart {
		width: 65px;

	}

	.hero-image-banner {
		height: 550px;
		background-size: cover, 250px, 70%;
		background-position: center, 50% 60px;
		background-repeat: no-repeat, no-repeat, repeat-x;
	}

	.collection {
		font-size: 1.4rem;
		bottom: 30px;
	}

	.season {
		font-size: 4.7rem;
		top: 8px;
	}

	h2 {
		font-size: 2.8rem;
		margin-bottom: 2rem;
	}

	.about-section p {
		max-width: 700px;
		font-size: 1.5rem;
	}

	.product-list {
		/*padding: 0 8%;
		align-items: baseline;
		margin-bottom: 5%;*/
	}

	.product-list-item {
		width: 25%;
		margin: 0 auto;
	}

	.sign-up-background {
		padding: 6.5rem 0 5rem;
	}
	.sign-up-background h2 {
		top: 3rem;
	}

	.sign-up-background p {
		max-width: 705px;
		margin: 1% auto;
		font-size: 1.4rem;
		top: 4.5rem;
	}

	footer {
		padding-right: 0;
	}

	.fa a {
		margin-left: 5%;
	}
}